<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Library App</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" *ngIf='!auth.loggedIn()' routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" *ngIf='auth.loggedIn()' routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add_book" *ngIf='auth.loggedIn()'>Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/authors">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add_author" *ngIf='auth.loggedIn()'>Add Author</a>
          </li>
        </ul>
        <ul class='navbar-nav'> 
            <a class='nav-link nav-item' routerLink="/login" *ngIf='!auth.loggedIn()'>Log In</a>
            <a class='nav-link nav-item' routerLink="/signup" *ngIf='!auth.loggedIn()'>Sign Up</a>
            <a class='nav-link nav-item' routerLink="/" *ngIf='auth.loggedIn()' (click)='logoutUser()'>Logout</a>
        </ul>
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class='nav-item'>
                <a class='nav-link' href="#">Hello</a>
            </li>
        </ul> -->
      </div>
    </div>
  </nav>